@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
body
{
  background-color: #CCFF00;
}
.odin{
   text-align: center;
}
.dva{
   text-align: center;
}
.tri{
   text-align: center;
}



.thetiri{
  display: block;
   text-align: center;
   background-color: white;
}
.pyt{
   display: block;
   text-align: center;
   background-color:black;
}

.buttons{
  
  display: flex;
    background-color:black;
  border-radius:100px;
  padding:20px 50px;
  text-decoration:none;
border:2px solid black
}
