
{
  background-color: #CCFF00;
}
.odin{
   text-align: center;
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
}
.dva{
   text-align: center;
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
}
.tri{
   text-align: center;
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
}


.buttons{
  
  display: flex;
  flex-direction:row ;
  justify-content: space-around;
  width:70%
  
}

.button{
 padding:20px 100px;
  border-radius:30px;
  text-decoration:none;
}
  .button-left{
     background-color:black;
    color:black;
  text-align: center;
  
  

}
.button-right{
     background-color:black;
    color:#FFFFFF;
  border:solid #FFFFFF 2px ;

}




